<mat-accordion>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cesar cipher
        </mat-panel-title>
        <mat-panel-description>
          C++ | 500
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Tomaz Suen</mat-card-title>
            <mat-card-subtitle>Rep 98,9%</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>
            <p>
                Build a tool that takes a string of text as input and encrypts it using a the Caesar cipher.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Apply</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
  